/*
  Color variables regular and hover
 */

$blue: #00CFFF;
$green: #15D19B;
$red: #CC0954;
$yellow: #FFC522;
$black: #00140A;

$darkgray: #333333;

$gray: #457377;
$mediumgray1: #457377;
$mediumgray2: #999999;
$mediumgray3: #7AA0A7;
$lightgray: #A8BFC1;
$lightgray1: #A8BFC1;
$lightgray2: #DFE7E8;
$lightgray3: #E9EEEF;
$lightgray4: #FAFAFA;
$lightgray5: #EFF2F3;

$white: #FFFFFF;
//$background-white: #F3F4F5;
$background-white: #F8F8F9;

$black-hover: #575766;

$google: #dc4e42;
$facebook: #2a5297;

/*
  Fibonacci shortcuts for vw
 */
//$f3:    0.14625vw;
//$f5:    0.260vw;
//$f8:    0.416vw;
//$f10:   0.520vw;
//$f13:   0.677vw;
//$f16:   0.833vw;
//$f18:   0.933vw;
//$f21:   1.083vw;
//$f26:   1.354vw;
//$f34:   1.770vw;
//$f42:   2.187vw;
//$f55:   2.864vw;
//$f68:   3.541vw;
//$f89:   4.635vw;
//$f110: 5.729vw;
//$f144: 7.5vw;
//$f178: 9.270vw;
//$f233: 12.135vw;
//$f288: 15vw;
//$f377: 19.635vw;
//
//$f400: 20.833vw;
//$f610: 31.777vw;

// DON'T CHANGE
$f1: 1px;
$f2: 0.08775vw;
$f3: 0.14625vw;
$f5: 0.260vw;
$f8: 0.416vw;
$f13: 0.677vw;
$f16: 0.833vw;
$f21: 1.083vw;
$f26: 1.354vw;
$f34: 1.770vw;
$f42: 2.187vw;
$f55: 2.864vw;
$f68: 3.541vw;
$f89: 4.635vw;
$f110: 5.729vw;
$f144: 7.5vw;
$f233: 12.135vw;
$f278: 14.478vw;
$f377: 19.633vw;
$f466: 24.267vw;
$f610: 31.765vw;

// YELLOW
$f10: $f5 + $f5;
$f18: $f10 + $f8;
$f178: $f144 + $f34;
$f288: $f278 + $f10;
$f330: $f110 + $f110 + $f110;
$f400: $f377 + $f21 + $f2;
